In [26]:
import pandas as pd
from utils.all_functions import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
csv_df = pd.read_csv('./inputs/entrada.csv',  header=None)
csv_df

                                              0
0                                            se
1                                         entao
2                                         senao
3                                            oi
4                                           que
5      <S> ::= a<A> | e<A> | i<A> | o<A> | u<A>
6  <A> ::= a<A> | e<A> | i<A> | o<A> | u<A> | ε

In [28]:
afnd_df, final_states = create_afnd(csv_df)
afnd_df.style.set_table_styles().hide(axis='index')

In [29]:
afnd_df = remove_unreachable_states(afnd_df)
afnd_df.style.set_table_styles().hide(axis='index')

In [30]:
afnd_df = remove_dead_states(afnd_df, final_states)
afnd_df.style.set_table_styles().hide(axis='index')

In [31]:
afd_df = determinize_afnd(csv_df, afnd_df)
afd_df.style.set_table_styles().hide(axis='index')

In [36]:
entrada_2 = pd.read_csv('./inputs/entrada_2.csv',  header=None)

entrada_2.head()

          0
0  se entao
1  senao oi
2       que

In [33]:
teste = af_mapping(entrada_2)

aaaassss