In [71]:
import pandas as pd
from utils.all_functions import *

%load_ext autoreload
%autoreload 3

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [72]:
csv_df = pd.read_csv('./inputs/entrada.csv',  header=None)
csv_df

                                              0
0                                            se
1                                         entao
2                                         senao
3                                            oi
4                                           que
5      <S> ::= a<A> | e<A> | i<A> | o<A> | u<A>
6  <A> ::= a<A> | e<A> | i<A> | o<A> | u<A> | ε

In [73]:
afnd_df, final_states = create_afnd(csv_df)
placeholder_df = afnd_df.copy()
placeholder_df = mark_final_states(placeholder_df, final_states)
placeholder_df.style.set_table_styles().hide(axis='index')

In [74]:
afnd_df = remove_unreachable_states(afnd_df)

In [75]:
afnd_df = remove_dead_states(afnd_df, final_states)
placeholder_df = afnd_df.copy()
placeholder_df = mark_final_states(placeholder_df, final_states)
placeholder_df.style.set_table_styles().hide(axis='index')

In [76]:
afd_df, final_states = determinize_afnd(csv_df, afnd_df, final_states)
placeholder_df = afd_df.copy()
placeholder_df = mark_final_states(placeholder_df, final_states)
placeholder_df.style.set_table_styles().hide(axis='index')

In [77]:
afd_df, final_states = error_states(afd_df, final_states)
placeholder_df = afd_df.copy()
placeholder_df = mark_final_states(placeholder_df, final_states)
placeholder_df.style.set_table_styles().hide(axis='index')

In [78]:
entrada_2_df = pd.read_csv('./inputs/entrada_2.csv',  header=None)
entrada_2_df

          0
0  se entao
1  senao oi
2       que

In [79]:
words, ribbon = af_mapping(entrada_2_df, afd_df)
ribbon

['[BI]', 'G', 'L', 'N', 'Q', '$']

In [80]:
lexical_df = lexical_recognition(words)
lexical_df.style.set_table_styles().hide(axis='index')