In [88]:
import pandas as pd
from utils.all_functions import *

In [89]:
csv_df = pd.read_csv('./entrada.csv',  header=None)
csv_df

                                              0
0                                            se
1                                         entao
2                                         senao
3      <S> ::= a<A> | e<A> | i<A> | o<A> | u<A>
4  <A> ::= a<A> | e<A> | i<A> | o<A> | u<A> | ε

In [90]:
afnd_df, final_states = create_afnd(csv_df)
afnd_df.style.set_table_styles().hide(axis='index')

In [91]:
afnd_df = remove_unreachable_states(afnd_df)
afnd_df.style.set_table_styles().hide(axis='index')

In [92]:
afnd_df = remove_dead_states(afnd_df, final_states)
afnd_df.style.set_table_styles().hide(axis='index')

In [93]:
afd_df = determinize_afnd(csv_df, afnd_df)
afd_df.style.set_table_styles().hide(axis='index')